In [1]:
import pandas as pd
ddf=pd.read_excel('/home/ayushi/Downloads/revenue.xlsx',sheet_name='Sheet1', header=1)

In [2]:
ddf.tail(10)

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M),ABC indicator,MTO/MTS Flag,USD,USD.1,USD.2,USD.3,USD.4,USD.5,Unnamed: 12
34303,201811,L40,L40L480,611000.0,B,MTS,0.00,0.000000e+00,0.00,1.497380e+04,0.000000e+00,2.370450e+04,3.867830e+04
34304,201811,L40,L40L480,611000.0,C,MTO,22643.39,5.411990e+03,0.00,1.212445e+05,0.000000e+00,8.516218e+04,2.344621e+05
34305,201811,L40,L40L480,611000.0,C,MTS,0.00,1.667400e+03,0.00,1.469691e+04,0.000000e+00,2.408240e+03,1.877255e+04
34306,201811,L40,L40L520,611000.0,1,MTS,0.00,1.047780e+03,0.00,1.859850e+03,0.000000e+00,5.200700e+03,8.108330e+03
34307,201811,L40,L40L520,611000.0,A,MTS,0.00,0.000000e+00,0.00,4.398940e+03,0.000000e+00,1.693598e+04,2.133492e+04
34308,201811,L40,L40L520,611000.0,B,MTS,0.00,0.000000e+00,0.00,4.750180e+03,4.238880e+03,1.419948e+04,2.318854e+04
34309,201811,L40,L40L520,611000.0,C,MTO,27.37,6.154300e+02,0.00,5.534400e+03,5.759670e+03,4.257320e+03,1.619419e+04
34310,201811,L40,L40L520,611000.0,C,MTS,0.00,1.123700e+02,0.00,0.000000e+00,2.561940e+03,8.825000e+02,3.556810e+03
34311,201811,L40,L40L520,611000.0,P,MTS,673.90,1.821092e+04,0.00,1.345146e+04,6.739000e+02,3.530668e+04,6.831686e+04
34312,Overall Result,NaN,NaN,NaN,NaN,NaN,86624523.26,2.537281e+08,10327615.39,7.374291e+08,6.046129e+08,9.124230e+08,2.605145e+09

In [3]:
ddf.columns

Index(['Calendar Year Month', 'Product Line (M) ', 'Product Class (M) ',
       'Sales District Key (M) ', 'ABC indicator', 'MTO/MTS Flag', 'USD',
       'USD.1', 'USD.2', 'USD.3', 'USD.4', 'USD.5', 'Unnamed: 12'],
      dtype='object')

In [4]:
ddf.drop(['USD','USD.1', 'USD.2', 'USD.3', 'USD.4', 'USD.5'],axis=1,inplace=True)

In [5]:
ddf.columns=['Calendar Year Month', 'Product Line (M) ', 'Product Class (M) ',
       'Sales District Key (M) ', 'ABC indicator', 'MTO/MTS Flag',
       'Total_Backlog']

In [209]:
# l=['L26','L20','L32','L08','L24','L40','L16','L04','L12','L36','A52']
# for i in range(len(df)):
#     df['Product Line (M) '][i]=random.choice(l)

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [213]:
# for i in range(len(df)):
#     if (df['Product Line (M) '][i]=='A52'):
#         df['Product Class (M) '][i]='A52A480'

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [219]:
# wa=['A52A480']
# wb=['L04L005', 'L04L010']
# wc=['L08L015', 'L08L020','L08L025', 'L08L030', 'L08L035']
# wd=['L12L040', 'L12L045']
# we=['L16L105','L16L110', 'L16L175', 'L16L177']
# wf=['L20L120', 'L20L125', 'L20L130','L20L135', 'L20L142', 'L20L144''L20L140']
# wg=['L24L155', 'L24L160', 'L24L170','L24L290', 'L24L295', 'L24L300', 'L24L305', 'L24L310', 'L24L315',
#     'L24L330', 'L24L340', 'L24L350', 'L24L360', 'L24L370',]
# wh=['L26L100','L26L145', 'L26L147', 'L26L150', 'L26L165', 'L26L400', 'L26L405','L26L410', 'L26L415']
# wi=['L32L100', 'L32L200', 'L32L205', 'L32L210','L32L215']
# wj=['L36L225', 'L36L230', 'L36L320']
# wk=['L40L235', 'L40L240','L40L440', 'L40L450', 'L40L460', 'L40L480', 'L40L520', 'L40L245']

In [223]:
# s1=['D']
# S2=[1,'A','B','C','D']
# S3=[1,'A','B','C','D','P']
# S4=['A','B','C','D']
# S5=['A','B','C','D','P']
# def values(value,l,s):
#     for i in range(240):
#         if (df['Product Line (M) '][i]=='A52'):
#             df['Product Class (M) '][i]=random.choice(l)
#             df['ABC indicator'][i]=random.choice(s)
# values('L04',wb)
# values('L08',wc)
# values('L12',wd)
# values('L16',we)
# values('L20',wf)
# values('L24',wg)
# values('L26',wh)
# values('L32',wi)
# values('L36',wj)
# values("L40",wk)

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [13]:
category=ddf.groupby([ddf['Product Line (M) '],ddf['Product Class (M) ']])['ABC indicator'].unique()
category

Product Line (M)   Product Class (M)
A52                A52A480                                  [D]
L04                ##                                       [C]
                   L04L005                     [A, B, C, D, ##]
                   L04L010                  [1, A, B, C, D, ##]
L08                ##                                      [##]
                   L08L015                  [1, B, C, A, D, ##]
                   L08L020                         [B, C, D, A]
                   L08L025                      [A, B, C, 1, D]
                   L08L030                         [B, C, A, D]
                   L08L035                            [C, B, D]
L12                L12L040                      [B, 1, A, C, D]
                   L12L045                      [C, D, 1, A, B]
L16                ##                                   [##, C]
                   L16L105               [##, 1, A, B, C, D, P]
                   L16L110               [1, A, B, C, D, P, ##]
                   L16L175               [B, C, 1, A, D, P, ##]
                   L16L177                  [A, B, C, P, ##, D]
L20                ##                                   [##, D]
                   L20L120               [1, A, B, C, D, P, ##]
                   L20L125               [B, C, P, ##, 1, A, D]
                   L20L130                         [A, B, C, D]
                   L20L135               [C, 1, A, B, D, P, ##]
                   L20L140                            [B, C, D]
                   L20L142                      [A, B, C, P, D]
                   L20L144                  [B, A, P, C, D, ##]
L24                ##                                   [B, ##]
                   L24L155                         [B, C, D, A]
                   L24L160                      [A, C, D, B, P]
                   L24L170                               [C, D]
                   L24L290                         [A, B, C, D]
                                                  ...
                   L24L350                         [B, C, D, A]
                   L24L360                         [B, C, A, D]
                   L24L370                           [D, ##, C]
L26                ##                                 [B, D, C]
                   L26L100                  [##, C, D, B, A, P]
                   L26L145                  [1, A, B, C, D, ##]
                   L26L147                      [1, A, B, C, D]
                   L26L150                  [1, A, B, C, D, ##]
                   L26L165                     [A, B, C, D, ##]
                   L26L400                        [##, C, D, B]
                   L26L405                           [##, C, D]
                   L26L410                     [C, D, A, B, ##]
                   L26L415                     [##, C, D, A, B]
L32                L32L100                         [1, A, B, C]
                   L32L200                            [A, B, C]
                   L32L205               [1, A, B, C, D, ##, P]
                   L32L210               [##, 1, A, B, C, D, P]
                   L32L215               [##, 1, A, B, C, D, P]
L36                L36L225                         [A, B, C, D]
                   L36L230                     [C, D, ##, A, B]
                   L36L320                        [C, B, D, ##]
L40                ##                                       [C]
                   L40L235                            [1, C, D]
                   L40L240                               [C, D]
                   L40L245                           [##, C, D]
                   L40L440               [1, A, B, C, P, ##, D]
                   L40L450                  [A, C, B, 1, D, ##]
                   L40L460                   [B, C, A, P, 1, D]
                   L40L480                  [C, ##, A, B, D, P]
                   L40L520                      [1, A, B, C, P]
Name: ABC indicator, Length: 67, dtype: object

In [246]:
# ddf.head()

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M),ABC indicator,MTO/MTS Flag,Total_Backlog
0,201701,A52,A52A480,603000.0,D,MTO,379.86
1,201701,L04,L04L005,601000.0,A,MTO,36965.92
2,201701,L04,L04L005,601000.0,A,MTS,54639.02
3,201701,L04,L04L005,601000.0,B,MTO,135806.37
4,201701,L04,L04L005,601000.0,C,MTO,541731.98

In [144]:
# w=['A52A480', 'L04L005', 'L04L010','L08L015', 'L08L020',
#        'L08L025', 'L08L030', 'L08L035', 'L12L040', 'L12L045', 'L16L105',
#        'L16L110', 'L16L175', 'L16L177', 'L20L120', 'L20L125', 'L20L130',
#        'L20L135', 'L20L142', 'L20L144', 'L24L155', 'L24L160', 'L24L170',
#        'L24L290', 'L24L295', 'L24L300', 'L24L305', 'L24L310', 'L24L315',
#        'L24L330', 'L24L340', 'L24L350', 'L24L360', 'L24L370', 'L26L100',
#        'L26L145', 'L26L147', 'L26L150', 'L26L165', 'L26L400', 'L26L405',
#        'L26L410', 'L26L415', 'L32L100', 'L32L200', 'L32L205', 'L32L210',
#        'L32L215', 'L36L225', 'L36L230', 'L36L320', 'L40L235', 'L40L240',
#        'L40L440', 'L40L450', 'L40L460', 'L40L480', 'L40L520', 'L20L140',
#        'L40L245']

In [ ]:
# wa=['A52A480']
# wb=['L04L005', 'L04L010']
# wc=['L08L015', 'L08L020','L08L025', 'L08L030', 'L08L035']
# wd=['L12L040', 'L12L045']
# we=['L16L105','L16L110', 'L16L175', 'L16L177']
# wf=['L20L120', 'L20L125', 'L20L130','L20L135', 'L20L142', 'L20L144''L20L140']
# wg=['L24L155', 'L24L160', 'L24L170','L24L290', 'L24L295', 'L24L300', 'L24L305', 'L24L310', 'L24L315',
#     'L24L330', 'L24L340', 'L24L350', 'L24L360', 'L24L370',]
# wh=['L26L100','L26L145', 'L26L147', 'L26L150', 'L26L165', 'L26L400', 'L26L405','L26L410', 'L26L415']
# wi=['L32L100', 'L32L200', 'L32L205', 'L32L210','L32L215']
# wj=['L36L225', 'L36L230', 'L36L320']
# wk=['L40L235', 'L40L240','L40L440', 'L40L450', 'L40L460', 'L40L480', 'L40L520', 'L40L245']

In [154]:
# df['Product Class (M) ']=1
# for i in range(len(df)):
#     df['Product Class (M) '][i]=random.choice(w)

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ayushi/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [15]:
import numpy as np
num=np.random.randint(1,len(ddf), size=5000)
num

array([11678, 20107, 33792, ..., 23959, 19682, 15892])

In [16]:
t=ddf.iloc[num]

In [17]:
t.head()

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M),ABC indicator,MTO/MTS Flag,Total_Backlog
11678,201708,L32,L32L205,609300.0,B,MTS,67064.00
20107,201802,L24,L24L290,602000.0,A,MTO,2564.80
33792,201811,L26,L26L150,609500.0,D,MTO,9089.77
18726,201801,L24,L24L330,600000.0,C,MTO,0.00
11546,201708,L26,L26L165,605000.0,B,MTO,63161.22

In [26]:
len(t)

5000

In [33]:
import pandas as pd 
times = pd.date_range(start='2018-12',end='2019-11', periods=5000)
newformat=times.strftime('%Y%m')
t['Calendar Year Month']=newformat
t.drop('Total_Backlog',inplace=True,axis=1)

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/ayushi/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [35]:
t.to_csv('Sample1.csv')

In [151]:
# z=[603000., 601000., 602000., 604000., 605000., 606200., 609100.,
#        609200., 609300., 609700., 600000., 606100., 609500., 609000.,
#        607000., 609050., 609900., 608200., 611000., 606300., 640000.,
#        627000., 627100., 627200., 609400.]

In [156]:
# df['Sales District Key (M) ']=1
for i in range(len(df)):
    df['Sales District Key (M) '][i]=random.choice(z)
df.head()

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M)
0,201812,L16,L20L125,603000
1,201812,L36,L08L030,600000
2,201812,L36,L26L405,600000
3,201812,L24,L26L400,611000
4,201812,L32,L24L330,606200

In [157]:
ddf['ABC indicator'].unique()

array(['D', 'A', 'B', 'C', '1', '##', 'P', nan], dtype=object)

In [159]:
u=['D', 'A', 'B', 'C', '1', 'P']
df['ABC indicator']='A'
for i in range(len(df)):
    df['ABC indicator'][i]=random.choice(u)
df.head()

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M),ABC indicator
0,201812,L16,L20L125,603000,B
1,201812,L36,L08L030,600000,P
2,201812,L36,L26L405,600000,A
3,201812,L24,L26L400,611000,A
4,201812,L32,L24L330,606200,P

In [160]:
ddf['MTO/MTS Flag'].unique()

array(['MTO', 'MTS', nan], dtype=object)

In [161]:
m=['MTO', 'MTS']

In [162]:
df['MTO/MTS Flag']='A'
for i in range(len(df)):
    df['MTO/MTS Flag'][i]=random.choice(m)
df.head()

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M),ABC indicator,MTO/MTS Flag
0,201812,L16,L20L125,603000,B,MTS
1,201812,L36,L08L030,600000,P,MTO
2,201812,L36,L26L405,600000,A,MTO
3,201812,L24,L26L400,611000,A,MTO
4,201812,L32,L24L330,606200,P,MTO

In [177]:
df['Total_Backlog']

In [198]:
import random
# Numbers = range(300, 1000000)
for i in range(len(df)):
    df['Total_Backlog'][i]=np.round((np.random.rand(1)*random.uniform(300, 10000)),2)
df.head()

/home/ayushi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M),ABC indicator,MTO/MTS Flag,Total_Backlog
0,201812,L16,L20L125,603000,B,MTS,581
1,201812,L36,L08L030,600000,P,MTO,6322
2,201812,L36,L26L405,600000,A,MTO,8724
3,201812,L24,L26L400,611000,A,MTO,1536
4,201812,L32,L24L330,606200,P,MTO,433

In [183]:
df.to_csv('Sample.csv')

In [199]:
df.head()

,Calendar Year Month,Product Line (M),Product Class (M),Sales District Key (M),ABC indicator,MTO/MTS Flag,Total_Backlog
0,201812,L16,L20L125,603000,B,MTS,581
1,201812,L36,L08L030,600000,P,MTO,6322
2,201812,L36,L26L405,600000,A,MTO,8724
3,201812,L24,L26L400,611000,A,MTO,1536
4,201812,L32,L24L330,606200,P,MTO,433

In [91]:
import pandas as pd
rng=pd.date_range(start='2018-12',end='2019-11',freq='B') # to generate dates
newformat=rng.strftime('%Y%m')

240

In [76]:
ddf.dtypes

Calendar Year Month         object
Product Line (M)            object
Product Class (M)           object
Sales District Key (M)     float64
ABC indicator               object
MTO/MTS Flag                object
Total_Backlog              float64
dtype: object

In [81]:
datemask = "%Y%m"
datetime_object = datetime.datetime.strptime(a, datemask)

ValueError: time data '2018-12-01' does not match format '%Y%m'