## You are given three integers  and  representing the dimensions of a cuboid along with an integer . You have to print a list of all possible coordinates given by  on a 3D grid where the sum of is not equal to .

In [1]:
x = int (input()) 
y = int (input()) 
z = int(input())
n = int (input()) 
[[ i, j, k] for i in range( x + 1) for j in range( y + 1) for k in range( z + 1) if ( ( i + j + k ) != n )]

1
1
1
2

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up.

In [36]:
n =int(input())
arr=list(map(int, input().strip().split()))

arr1=[]

for i in arr:
    if i not in arr1:
        arr1.append(i)
arr1.sort()
arr1[-2]

5
2 3 6 6 5

## Given the names and grades for each student in a Physics class of  students, store them in a nested list and print the name(s) of any student(s) having the second highest grade.

In [242]:
n =int(input())
arr1=[]
for i in range(n):
    name=str(input())
    num=float(input())
    arr=[name,num]
    arr1.append(arr)

4
e
45
g
34.9
t
87
s
99

In [243]:
def sort1(arr1):
    for i in range(len(arr1)-1):
        for j in range(len(arr1)-1):
            temp=0
            if(arr1[j][1]>arr1[j+1][1]):
                temp=arr1[j]
                arr1[j]=arr1[j+1]
                arr1[j+1]=temp
    return arr1

In [248]:
arr1=sort1(arr1)
arr1

[['g', 34.9], ['e', 45.0], ['t', 87.0], ['s', 99.0]]

In [245]:
def highest(arr1):
    arr2=[]
    arr3=[]
    arr2.append(arr1[-1][0])
    for i in range(len(arr1)-1,0,-1):
        if (arr1[-1][1]==arr1[i-1][1]):
                if i not in arr2:
                    arr2.append(arr1[i-1][0])
    return arr2

In [246]:
def all_list(arr1):
    arr2=[]
    arr3=[]
    arr2.append(arr1[-1][0])
    for i in range(len(arr1)-1,0,-1):
        if (arr1[-1][1]!=arr1[i-1][1]):
            arr3.append(arr1[i-1])
    sort1(arr3)
    return arr3

In [247]:
arr3=all_list(arr1)
arr4=highest(arr3)
for i in arr4:
    print(i)

t

## Given the names and grades for each student in a Physics class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

In [348]:
n =int(input())
arr1=[]
for i in range(n):
    name=str(input())
    num=float(input())
    arr=[name,num]
    arr1.append(arr)

4
ty
5
fg
66
bn
5
bc
66

In [349]:
def sort1(arr1):
    for i in range(len(arr1)-1):
        for j in range(len(arr1)-1):
            temp=0
            if(arr1[j][1]>arr1[j+1][1]):
                temp=arr1[j]
                arr1[j]=arr1[j+1]
                arr1[j+1]=temp
    return arr1
arr1=sort1(arr1)
X=arr1[0][1]
arr1.remove(arr1[0])
for j in range(0,2):
    if j==0:
        for i in range(len(arr1)):
            if (arr1[0][1]==X):
                arr1.remove(arr1[0])
    else:
        if j==1:
            Y=arr1[0][1]
            arr2=[]
            for i in range(len(arr1)):
                    if (arr1[i][1]==Y):
                        arr2.append(arr1[i])

arr4=[]
for i in arr2:
    arr4.append(i[0])
arr4.sort()
for i in arr4:
    print(i)

bc
fg

 ## You have a record of  students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer  followed by the names and marks for students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places

In [409]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()

2
sita 3 4 5
rita 5 6 7
rita

In [410]:
k=0.0
for j in student_marks[query_name]: 
        k=k+j
k=k/3
print(format(k, '.2f'))

6.00

## You are given  words. Some words may repeat. For each word, output its number of occurrences. The output order should correspond with the input order of appearance of the word. See the sample input/output for clarification.Note: Each input line ends with a "\n" character.

In [609]:
arr1

{'r'}

In [20]:
n =int(input())
arr1=set()
count=0
cnt={}

for i in range(n):
    name=str(input())
    if name in arr1:
        cnt[name]=cnt[name]+1
    else:
        cnt[name]=1
        arr1.add(name)
print(len(cnt))
for i in cnt:
    print(cnt[i],end=' ',flush=True)

4
abc
ced
abc
qqq

## Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .
print: Print the list.
remove e: Delete the first occurrence of integer .
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.
Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.

In [1]:
n=int(input())

9

In [2]:
l=[1,2,3,4]

In [4]:
def insert(i,e):
    for j in range(len(l)):
        if j==i:
            l[j]==e
    print(l)

In [5]:
insert()

TypeError: insert() missing 2 required positional arguments: 'i' and 'e'

In [6]:
def insert(i,e):
    for j in range(len(l)):
            if j==i:
                l[j]=e
    print(l)

In [7]:
l=[1,2,3,4,1]

In [8]:
def inserted(index,element):
    global l
    l1=[l[i] for i in range(len(l)) if i<index]
    l2=[l[i] for i in range(len(l)) if i>=index]
    l=l1 + [element] + l2
    return l

In [9]:
inserted(2,19)

[1, 2, 19, 3, 4, 1]

In [10]:
def printed():
    global l
    print(l)

In [12]:
printed()

[1, 2, 19, 3, 4, 1]

In [34]:
l=[1, 2, 19, 3, 4, 1]

In [35]:
def removed(element):
    global l
    for i in range(len(l)-1):
        if l[i]==element:
            l=l[0:i]+l[i+1:]
            break
    return l

In [36]:
l

[1, 2, 19, 3, 4, 1]

In [37]:
removed(1)

[2, 19, 3, 4, 1]

In [54]:
def appended(element):
    global l
    l=l+[element]
    return l

In [57]:
l=[1, 2, 19, 3, 4, 1]

In [58]:
def sort():
    global l
    for i in range(len(l)-1):
        for j in range(len(l)-1):
            if l[j]>l[j+1]:
                temp=l[j]
                l[j]=l[j+1]
                l[j+1]=temp
    return l

In [60]:
appended(4)

[1, 1, 2, 3, 4, 19, 4]

In [5]:
a=[]
t = int(input().strip())
for a0 in range(t):
    n = int(input().strip())
    temp=0
    for j in range(n):
        if((j%3==0)or(j%5==0)):
            temp=temp+j
    print(temp)

2
10
23
23
119

## If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3,5,6 and9 . The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below N.

In [9]:
import sys
t=int(input())
def ar(x):
    return (x*(x+1))//2;
for i in range(t):
    n =int(input())
    n -=1;
    a=int(n/3); #it will give number of multiples present for N=10, 9/3 =3..i.e 3,6,9
    b=int(n/5);
    c=int(n/15);
    print(int(int(3*ar(a) + 5*ar(b) - 15*ar(c))))
    # Multiples of 3 are 3, 6,9 =3(1+2+3)=3(3(3+1)/2)=3(n(n+1)/2)

1
15
45

In [ ]:
ar()